<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="v.css" rel="stylesheet">
    <title>Решение дискриминантного уровнения</title>
</head>

<body>
    <div class="ui-form">
        {% block content %}
        Default content
        {% endblock %}
    </div>
</body>

</html>