{% extends "base.html" %}

{% block content %}
<form method="GET" action="/solve">
  <h3>Решение дискриминантного уровнения</h3>
  <div class="form-row">
    <input type="text" name="a" required autocomplete="off"><label for="A">Введите A</label>
  </div>
  <div class="form-row">
    <input type="text" name="b" required autocomplete="off"><label for="B">Введите B</label>
  </div>
  <div class="form-row">
    <input type="text" name="c" required autocomplete="off"><label for="C">Введите C</label>
  </div>
  <p><input type="submit" value="Решить"></p>
</form>
{% endblock %}