{% extends "base.html" %}

{% block content %}

<h3>Ответ дискриминантного уровнения:</h3>
<h1>D = {{discriminant}}</h1>

{% if discriminant < 0  %}
<h1>Нет действительных корней!</h1>
{% endif %}

{% if discriminant === 0  %}
<h1>x = {{x1}}</h1>
{% endif %}

{% if discriminant > 0  %}
<h1>x1 = {{x1}}</h1>
<h1>x2 = {{x2}}</h1>
{% endif %}

<a class="btn" href="/save?a={{a}}&b={{b}}&c={{c}}">Сохранить</a>
<a class="btn" href="/">Назад</a>

{% endblock %}